/* Place CSS styles here */
body {
    background-color: aliceblue;
    font-size: 25px;
    color: rgb(116, 145, 171);
}

h1 {
    font-size: 55px;
    color: #ffebcd;
    margin: 40px;
    text-align: center;
}